.inputOption {
  display: flex;
  align-items: center;
  margin-top: 15px;
  color: gray;
  padding: 10px;
  cursor: pointer;
}

.inputOption > h3 {
  margin-left: 5px;
}
.inputOption:hover{
color: #0a66c2;
}